.App {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App form {
  width: 50%;
}

.App form input {
  width: 100%;
  padding: 2%;
  border-radius: 10px;
  border: 1px solid black;
}

.App form button {
  margin-top: 5%;
  padding: 2%;

}